// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// General padding for the elements
@mixin padding-main() {
	padding: 1.5em;
}

@mixin link-color--reverse() {
	a {
		color: #fff;

		&:hover,
		&:focus,
		&:active {
			color: $color__link-hover;
		}
	}
}

// Messages & Alerts
%message {
	@include font-size(0.875);
	padding: 1rem;
	margin-bottom: 1.5rem;
}

@mixin message($color) {
	@extend %message;
	color: $color;
	background: lighten($color, 45%);
}
