.site__section {
	padding: 1.5em 0;
}

.area__title { /* This also applies to widget titles */ 
	margin-bottom: 1em;
}

/* Site header */
.site-header {

	.site-branding {
		margin: 0 auto;
		text-align: center;
	}

	.site-title {
		font-size: 1.5em;
		font-weight: bold;
		margin: 0;
	}

	.site-description {
		font-style: italic;
		margin-bottom: 0;
	}

	.header-image {
		text-align: center;
	}
}

/* Site News */
.site-news__main {
	.entry-header {
		background-color: $color__first;
		color: #fff; 
		margin: 0 0 1.5em;
		@include padding-main();

		a {
			color: #fff;
		}
	}

	.entry-content {
		@include padding-main();
	}
}

.site-news__aside {
	.hentry {
		background-color: $color__third;
	}

	.entry-title {
		@include font-size(1.25);
		margin: 0;
	}
}

/* Site Newsletter */
.site-newsletter {
	&--front-page {
		background-color: $color__third;
	}

	input {
		margin: 0;
	}
}

/* Site footer */
.site-footer {
	background-color: $color__first;
	color: #fff;

	.site-info {
		background-color: $color__second;

		.site-credits {
			@include font-size(0.875);
		}
	}

	a {
		color: #fff;
		margin-bottom: 0.125em;

		&:hover {
			color: $color__third;
		}
	}
}

/* Helpers */
.wide {
	width: 100%;
}

@media screen and (min-width: 40.0625em) {
	.vertical-align--bottom {
	    display: table;

	    > .columns {
	        display: table-cell;
	        vertical-align: bottom;
	    }

	    > .columns, > [class*="column"] + [class*="column"]:last-child {
	        float: none;
	    }
	}
}

/* The Flag Object: http://csswizardry.com/2013/05/the-flag-object/ */
.flag {
	display: table;
	width: 100%;

	.flag__image,
	.flag__body {
		display: table-cell;
		vertical-align: middle;
	}
}

.flag__image {
	margin-right: 0.5em;
	white-space: nowrap;

    img {
        display: block;
        max-width: 125px;
    }
}

.flag__body {
	padding-left: 1em;
	width: 100%;

	&--padded {
		padding: 1em;
	}
}
/* Extras: they shouldn't be here */
.all-events-link {
	margin-top: 1.5em;
}

.vcard { // TODO: stop rewriting Foundation
	border: 0;
	margin: 0;
	padding: 0;

	.fn {
		@include font-size(1);
	}
}