/* Structuring */
.site__section {
	padding: 1.5em 0;
}

/* Area title */
.area__title { // This also applies to widget titles
	margin-bottom: 1rem;
}

/* Full width elements */
.wide {
	width: 100%;
}

/* Messages */
.message-error {
  @include message($color__error);
}

.message-success {
  @include message($color__success);
}

.message-warning {
  @include message($color__warning);
}

.message-info {
  @include message($color__info);
}

/* The Flag Object: http://csswizardry.com/2013/05/the-flag-object/ */
.flag {
	display: table;
	width: 100%;

	.flag__image,
	.flag__body {
		display: table-cell;
		vertical-align: middle;
	}

	.flag__image {
		margin-right: 0.5em;
		position: relative;
		white-space: nowrap;

	    img {
	        display: block;
	        max-width: 125px;
	    }
	}

	.flag__body {
		padding-left: 1em;
		width: 100%;

		&--padded {
			padding: 1em;
		}
	}

	&--colored {
		background-color: $color__third;
	}
}

/* Vertical alignment for Foundation columns */
@media screen and (min-width: 40.0625em) {
	.vertical-align--bottom {
	    display: table;

	    > .columns {
	        display: table-cell;
	        vertical-align: bottom;
	    }

	    > .columns, > [class*="column"] + [class*="column"]:last-child {
	        float: none;
	    }
	}
}