.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

.widget-area--main {
	.widget {
		background-color: $color__third;
		padding: 1.5em;

		.widget-title {
			color: $color__first;
		}
	}
}

/* Social Engagement Area */
.widget-area--social-engagement {
	background-color: $color__first;
	color: #fff;

	@include link-color--reverse();

	.widget {
		border-left: 3px solid $color__second;

		.widget-title {
			color: #fff;
		}
	}
}

.widget-area--content-bottom {
	background-color: $color__third;
}

.widget-area--footer {
	.widget-title {
		color: #fff;
	}

	@include link-color--reverse();
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}