.widget {
	margin: 0 0 1.5em;

	@media screen and (min-width: 40em) {
		margin: 0;
	}

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}

	// Remove bottom margin if there's only one widget or it's the last one
	&.widget-count-1,
	&.widget-last {
		margin-bottom: 0;
	}
}

/* Main Widget Area */
.widget-area--main {
	.widget {
		background-color: $color__third;
		padding: 1.5em;

		.widget-title {
			color: $color__first;
		}

		button,
		input[type="button"],
		input[type="reset"],
		input[type="submit"],
		.button {
			width: 100%;
		}
	}
}

/* Call to Action Widget Area */
.home.page .widget-area--call-to-action {
	background-color: $color__third;
}
.widget-area--call-to-action {
	input {
		margin: 0;
	}
}

/* Social Engagement Area */
.widget-area--social-engagement {
	background-color: $color__first;
	color: #fff;

	a {
		color: lighten($color__first, 36);
	}

	.widget {
		border-left: 3px solid $color__second;

		.widget-title {
			color: #fff;
		}
	}
}

.widget-area--content-bottom {
	background-color: $color__third;
}

.widget-area--footer {
	.widget-title {
		color: #fff;
	}

	a {
		color: lighten($color__first, 36);
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

/* Featured Video Widget */
.widget_featured_video {
	.entry-video {
		margin-bottom: 1.5rem;
	}
}