.main-navigation {
	clear: both;
	display: block;
	@include font-size(0.875);
	margin: 0 auto;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			margin: 0 0 0 1.5em;
		}
	}

	li {
		position: relative;
		border-top: 2px solid $color__third;
	}

	a {
		display: block;
		padding: 0.5em 0.75em;
		text-decoration: none;

		&:hover {
			background: $color__second;
			color: #fff;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
		background: $color__second;
		color: #fff;
	}

	.menu-item-has-children > a {

		padding-right: 1.85em;

		&:after {
			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome;
			@include font-size(1.125);
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			content: "\f107";

			position: absolute;
			right: 0.5em;
			top: 0.65em;
		}
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.menu-toggle {
	margin: 1.5em auto;
	text-transform: uppercase !important;
}

@media screen and (min-width: 40.0625em) {
	.menu-toggle {
		display: none;
	}

	.main-navigation {
		text-align: right;

		ul {
			display: block;

			ul {
				background: $color__third;
				float: left;
				margin: 0;
				position: absolute;
				top: 2.5em;
				left: -999em;
				text-align: left;
				z-index: 99999;

				ul {
					left: -999em;
					top: 0;
				}

				li {
					&:hover > ul,
					&.focus > ul {
						left: 100%;
					}
				}

				a {
					width: 200px;
				}
			}
			li:hover > ul,
			li.focus > ul {
				left: auto;
			}
		}

		li {
			border: 0;
			display: inline-block;

			&:hover > a,
			&.focus > a {
				background: $color__second;
				color: #fff;
			}
		}

		a {
			display: inline-block;
			text-decoration: none;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

/* Social Links Menu */
.social-navigation {
	margin-top: 1.5em;

	.social-links-menu {
		margin: 0;

		.menu-item {
			display: inline-block;
			padding: 0.25em;
		}
	}

	a {
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		@include font-size(2);
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		&[href*="facebook.com"]:before {
			content: "\f09a";
		}

		&[href*="flickr.com"]:before {
			content: "\f16e";
		}

		&[href*="flickr.com"]:before {
			content: "\f16e";
		}

		&[href*="plus.google.com"]:before {
			content: "\f0d5";
		}

		&[href*="github.com"]:before {
			content: "\f09b";
		}

		&[href*="instagram.com"]:before {
			content: "\f16d";
		}

		&[href*="linkedin.com"]:before {
			content: "\f0e1";
		}

		&[href*="pinterest.com"]:before {
			content: "\f231";
		}

		&[href*="tumblr.com"]:before {
			content: "\f173";
		}

		&[href*="twitter.com"]:before {
			content: "\f099";
		}

		&[href*="vimeo.com"]:before {
			content: "\f27d";
		}

		&[href*="wordpress.com"]:before,
		&[href*="wordpress.org"]:before {
			content: "\f19a";
		}

		&[href*="youtube.com"]:before {
			content: "\f167";
		}

		&[href*="mailto:"]:before {
			content: "\f0e0";
		}

		&[href$="/feed/"]:before {
			content: "\f09e";
		}
	}

	@media screen and (min-width: 40.0625em) {
		margin-top: 0;
	}
}