button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	border: 0;
	background: $color__second;
	color: #fff;
	line-height: 1;
	text-transform: lowercase;

	&:hover {
		background: $color__first;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}