button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	border: 0;
	background: $color__second;
	color: #fff !important; //TODO: fix this
	display: inline-block;
	font-family: $font__main;
	font-weight: bold;
	line-height: 1;
	padding: 1rem 2rem 1.0625rem;
	text-transform: lowercase;

	&:hover,
	&:active,
	&:focus {
		background: $color__first;
		color: #fff;
	}
}