.comments-title,
.comment-reply-title {
	border-top: 3px solid $color__first;
	font-size: 1.5rem;
	margin: 0;
	padding-top: 1.5rem;
}

.comment-list {
	list-style-type: none;
	margin-left: 0;

	.children {
		list-style-type: none;
	}

	.comment-meta {
		background-color: $color__third;
		margin-bottom: 1.5rem;

		.comment-metadata {
			@include font-size(0.875); 
		}

		.time-link {

		}
	}

	.comment-author {
		.avatar {

		}
	}

	.comment-body {
		border-top: 2px solid $color__third;
		padding: 1em 0;
	}

	.comment-content a {
		word-wrap: break-word;
	}

	.bypostauthor {
		display: block;
	}
}

.comment-respond {
	.comment-reply-title {
		margin-bottom: 1.5rem;

		#cancel-comment-reply-link {
			@include font-size(0.875);
		}
	}

	.logged-in-as {
		@include font-size(0.875);
		font-style: italic;
	}

	.comment-notes {
		@include message($color__info);

		#email-notes {
			display: block;
		}
	}
}
