.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* Page header */
.page-header {
	background-color: $color__first;
	color: #fff;
	
	.entry-title,
	.page-title {
		color: inherit;
		margin-bottom: 0;
	}
}

/* Post Thumbnails */
.single {
	.entry-image {
		margin-bottom: 1.5em;
	}
}